@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    height: 100%;
}

.home {
    
    object-fit: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 70%;
    -o-background-size: 70%;
    background-repeat: no-repeat;
    min-height: 100%;
    background-image: url('./assets/img/traiteur-bg.jpeg');
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 22px;
}

@media screen and (max-width : 800px) {
    .nav {
        display: flex;
        justify-content: space-between;
        margin: 0 4%;
        padding-top: 22px;
    }
}

.ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

.nav-title {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 31px;
    font-weight: 600;
    opacity: 1;
}

@media screen and (max-width : 800px) {
    .nav-title {
        font-family: 'Roboto Mono', monospace;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
}
.nav-link{
    display: flex;
}

.nav-a {
    font-family: 'Epilogue', sans-serif;
    margin-left: 32px;
    color: #F2F2F2;
    font-size: 17px;
}

@media screen and (max-width: 800px) {
    .nav-a {
        font-family: 'Epilogue', sans-serif;
        margin-left: 32px;
        color: #F2F2F2;
        font-size: 13px;
    }
}

.link-container {
    display: flex;
    margin-right: 10px;
}

.link {
    margin-right: 10px;
}

.home-title {
    margin-left: 160px;
    margin-top: 70px;
    font-family: 'Parisienne', cursive;
    font-size: 56px;
    color: #F2F2F2;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transform: translateY(100px);
    opacity: 0;

}

.line {
    display: block;
    border-bottom: 2px solid #EECBBD;
    width: 70px;
    margin-top: 10px;
    margin-left: 160px;
}

.home-text {
    margin-left: 160px;
    margin-top: 50px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #F2F2F2;
    max-width: 30%;
    transform: translateY(100px);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    font-weight: 300;
    line-height: 20px;
}

.b {
    background-image: url('./assets/img/traiteur-bg.jpeg');

}

.button {
    display:inline-flex;
    width: 140px;
    height: 42px;
    background: #ffff;
    color: #222222;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 15px;
    margin-top: 36px;
    font-weight: 400;
    border-radius: 4px;
    margin-left: 160px;

    transform: translateY(100px);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    border: 1px solid #ffff;
}

.scroll-container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #F2F2F2;
}

.mouse {
    width: 15px;
    height: 30px;
    border: 3px solid #F2F2F2;
    border-radius: 60px;
    position: relative;
    margin-bottom: 10px;
    transform: translateY(100px);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
}

.mouse::before {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F2F2F2;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

.mouse-text {
    font-size: 14px;
    transform: translateY(100px);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
}

.section2 {
    height: 100vh;
    width: 100%;
    background-color: beige;
}

.left-container {
    display: flex;
}

.s2 {
    font-size: 30px;
    text-align: center;
    padding-top: 50%;
    font-family: 'Montserrat';

}

.s2-img-container {
    padding-top: 5%;
    margin-left: 5%;
}

.s2-block-img  {
    height: 400px;
    width: 600px;
    /* object-fit: cover; */
    border-radius: 7px;

}

.s2-text {
    height: 200px;
    background: white;
    margin-top: 120px;
}

.s2-title-text-container{
    display: flex;
}

.s2-title-text-left {
    margin-right: 10px;
}

.s2-title-text {
    margin-right: 10px;
}